.Hero {
  position: absolute;
  width: 70%;
  height: 70%;
  left: 15%;
  right: 15%;
  padding: 2rem;
  background-image: url('/heroImage.jpg');
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: 100% auto;
  text-align: center;
}
